{% extends 'base.html' %}

{% block style %}
<style>
    li {
        display: flex;
    }

    .link {
        margin-right: 10px;
    }
</style>
{% endblock %}

{% block script %}
<script>
    function remove(code) {
        fetch('/api/remove', {
            method: 'POST',
            headers: {
                'Content-Type': 'application/json'
            },
            body: JSON.stringify({ code: code })
        }).then(response => {
            location.reload()
        })
            .catch(error => {
                console.error('Error:', error);
            });
    }
</script>
{% endblock %}

{% block body %}
<form action="/api/add" method="post" enctype="multipart/form-data">
    <input type="file" name="file" />
    <input type="submit" value="Upload">
</form>
<hr>
<ul>
    {% for code, name in files -%}
    <li>
        <a href="/{{ code }}" class="link">{{ name }}</a>
        <button onclick="remove('{{ code }}')">Delete</button>
    </li>
    {% endfor %}
</ul>
{% endblock %}